.DS_Store
**/.DS_Store

node_modules
**/node_modules

dist
**/dist

bin
obj
**/bin
**/obj

.env
.env.*

.vscode
**/.vscode

.idea
**/.idea

publish
**/publish

*.sqlite-shm
*.sqlite-wal
**/*.sqlite-shm
**/*.sqlite-wal

